{% extends 'Shop/base.html' %}
{% load static %}
{% block title %}Customer Registration{% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Customer Registration</h3>
            <hr>

            <form action="" method="post" novalidate class="shadow p-5">
                {% csrf_token %}

                 {% if messages %}
                {% for message in messages%}

                <p> {{message}}</p>

                {% endfor %}
                {% endif %}

                {% for fm in form %}
                <div>
                    {{fm.label_tag}} {{fm}}
                    <small class='text-danger'> {{ fm.errors|striptags }} </small>
                </div>
                <br>
                {% endfor %}

                <div>
                    <input type="submit" value='Submit' class = 'btn btn-primary'>
                </div>
                <br>
                <div class="text-center text-primary fw-bold"><small>Existing User ? <a href="{% url 'login' %}"
                            class="text-danger">Login Now</a> </small></div>
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}